

.country-line {
    padding: 10px;
    border-bottom: 1px solid #EFEFEF;
    background: #fff;
}
.country-image {
    max-width: 100px;
}
.country-text { 
    padding: 10px;
    white-space: nowrap;
}
